.contacts .header {
  background-image: url("../../assets/images/Slide.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

.contacts h1 {
  font-family: "Roboto Slab", serif !important;
  font-weight: bold;
}

.contacts h3 {
  font-weight: bold;
}

.contact-details {
  border: 1px solid var(--darkGrey-color);
}

.contact-details small {
  margin-left: 15px;
  font-size: 17px !important;
  font-family: "Open Sans", sans-serif !important;
}

.contacts .form {
  background-color: var(--lightGrey-color);
  padding-top: 70px;
  padding-bottom: 70px;
}

.contacts .form h3 {
  font-weight: bold !important;
}

.contacts .form small {
  font-weight: bold;
}

.contacts .form input {
  margin-top: 10px;
  background: #fff;
  border: 2px solid #e1e4eb;
  font-size: 13px;
  color: #777;
  box-shadow: none !important;
  outline: none !important;
  padding: 12px 13px;
  height: 44px;
  border-radius: 0;
  min-width: 100%;
}

.contacts .form textarea {
  margin-top: 10px;
  background: #fff;
  border: 2px solid #e1e4eb;
  min-height: 183px;
  font-size: 13px;
  color: #777;
  box-shadow: none !important;
  outline: none !important;
  padding: 12px 13px;
  height: 44px;
  border-radius: 0;
  width: 100%;
}

.send-form {
  margin-top: 20px;
  font-size: 14px;
  border-radius: 0 !important;
  background-color: var(--yellow-color) !important;
  padding: 12px 28px !important;
  color: white !important;
}

.send-form:hover {
  background-color: var(--darkGrey-color) !important;
}

.contacts-details {
  display: flex;
}

.contact-items {
  display: flex;
}

.contacts-detailss {
  display: flex;
}

@media (max-width: 480px) {
  .contacts-text {
    width: 90vw !important;
  }

  .contacts-detailss {
    display: block !important;
    padding: 8px !important;
  }

  .contacts-detailss img {
    height: 260px !important;
    width: 90vw !important;
  }

  .contacts-detailss .col-6 {
    width: 90vw !important;
    padding: 0 !important;
  }

  .contact-details {
    width: 90vw !important;
    padding: 20px !important;
    height: 260px !important;
    text-align: center;
  }

  .contact-items {
    display: block !important;
  }

  .form .row {
    display: block !important;
  }

  .form h3 {
    text-align: center;
  }

  .form .row .col-4 {
    width: 100vw !important;
    margin-bottom: 10px;
  }

  .feedback-btn {
    text-align: center;
  }
}
