.TheNavBar small {
  color: var(--grey-color);
}

.TheNavBar a {
  text-decoration: none;
}

.TheNavBar .nav-buttons p {
  color: black;
}

.TheNavBar a:hover small {
  color: var(--yellow-color);
}

.TheNavBar .nav-icon:hover {
  fill: var(--yellow-color);
}

.TheNavBar .bottom-nav {
  border: 1px solid white;
  border-right: 0;
  border-left: 0;
  border-top: 0;

  padding-top: 20px !important;
}

.TheNavBar .bottom-nav p {
  color: white;
}

.TheNavBar .bottom-nav p:hover {
  color: var(--yellow-color);
  cursor: pointer;
}

.TheNavBar .search-icon:hover {
  fill: var(--yellow-color);
  cursor: pointer;
}

.TheNavBar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  margin-left: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.TheNavBar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.TheNavBar .dropdown-content a:hover {
  background-color: var(--yellow-color);
}

.TheNavBar .dropdown:hover .dropdown-content {
  display: block;
}

.btn-search-nav {
  background-color: var(--yellow-color) !important;
  margin-left: 10px !important;
  border-radius: 0 !important;
}

.btn-search-nav:hover {
  background-color: var(--darkGrey-color) !important;
  color: white !important;
  border-radius: 0 !important;
}

.top-top-bar {
  display: flex;
}

.bottom-nav {
  display: flex;
}

.nav-buttons {
  display: flex;
}

@media (max-width: 480px) {
  .top-top-bar {
    display: none !important;
  }

  .bottom-nav {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .nav-buttons {
    display: none !important;
  }

  .logo {
    height: 25px !important;
  }

  .TheNavBar .bottom-nav {
    border: none !important;
    display: block !important;
  }

  .logo-holder {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  .bar-icon {
    display: block !important;
  }

  .logo-holder {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
