.kitchen .header {
  background-image: url("../../../assets/images/Slide.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

.kitchen h1 {
  font-family: "Roboto Slab", serif !important;
  font-weight: bold;
}

.kitchen .ourProducts {
  background-color: white;
  padding-top: 70px;
}

.kitchen .ourProducts small {
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
  color: var(--dimGrey-color);
}

.kitchen .ourProducts a {
  text-decoration: none;
}

.kitchen .ourProducts .pearl_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.kitchen .ourProducts h2 {
  font-size: 70px !important;
  font-family: "Roboto Slab", serif !important;
}

.kitchen .btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  font-family: "Roboto Slab", serif !important;
  background-color: #f0f0f1;
}

.kitchen .btn-circle.btn-lg:hover {
  background-color: var(--yellow-color);
}

.kitchen .btn-active {
  background-color: var(--yellow-color) !important;
  color: white !important;
}

.feature-products p {
  font-family: "Roboto Slab", serif !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  color: var(--dimGrey-color);
}

.feature-products span {
  font-size: 13px !important;
}

.feature-products a {
  text-decoration: none !important;
}

@media (max-width: 480px) {
  .header {
    height: 45vh !important;
  }

  .ourProject-data {
    margin-bottom: 50px !important;
  }
  .kitchen .ourProducts {
    padding-top: 50px !important;
  }
}
